<h1>Forgot Password</h1>

<p>Fill out the form below and instructions to reset your password will be emailed to you:</p>
<br/>

<% form_tag password_resets_path do %>
  <label>Email:</label><br/>
  <%= text_field_tag "email" %><br/>

  <%=submit_tag "Reset your password"%>
<% end %>