<p>
  <strong>Name:</strong>
  <%=h suburb.name %>
</p>
<p>
  <strong>Area:</strong>
  <%=h suburb.area %>
</p>
<p>
  <strong>State:</strong>
  <%=h suburb.state %>
</p>
<p>
  <strong>Postcode:</strong>
  <%=h suburb.postcode %>
</p>
