/* basic style for all fonts */
* {
    font-family: Verdana, Helvetica, Arial;
    font-size: 11px;
}

body {
    font-family: Verdana, Helvetica, Arial;
    font-size: 14px;
    margin: 0;
    background-color: #5ED3FF;
}

a img {
    border: none;
}

a {
    color: #0000FF;
}

/*a:hover {
    text-decoration: underline !important;
}*/

.clear {
    clear: both;
    height: 0;
    overflow: hidden;
}

#container {
    width: 75%;
    margin: 0 auto;
    background-color: #FFF;
    padding: 20px 40px;
    border: solid 1px black;
    margin-top: 20px;
}

#flash_notice, #flash_error {
    padding: 5px 8px;
    margin: 10px 0;
}

#flash_notice {
    background-color: #CFC;
    border: solid 1px #6C6;
}

#flash_error {
    background-color: #FCC;
    border: solid 1px #C66;
}

.fieldWithErrors {
    display: inline;
}

#errorExplanation {
    width: 400px;
    border: 2px solid #CF0000;
    padding: 0px;
    padding-bottom: 12px;
    margin-bottom: 20px;
    background-color: #f0f0f0;
}

#errorExplanation h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: 0;
    background-color: #c00;
    color: #fff;
}

#errorExplanation p {
    color: #333;
    margin-bottom: 0;
    padding: 8px;
}

#errorExplanation ul {
    margin: 2px 24px;
}

#errorExplanation ul li {
    font-size: 12px;
    list-style: disc;
}

label {
    display: block;
    padding: 3px 8px;
    margin-bottom: 5px;
    font-weight: bold;
    color: #737574;
}
label span.bar {
    display: block;
    width: 200px;
    margin: 5px 23px 8px;
}
label span.select {
    display: block;
}
label span.text {
    display: inline-block;
    width: 160px;
}
label.bedroom {
    background: url(../images/bedroom.png) left -2px no-repeat;
}
label.bathroom {
    background: url(../images/bathroom.png) left -2px no-repeat;
}
label.carpark {
    background: url(../images/carpark.png) left -2px no-repeat;
}
label.property_type {
    background: url(../images/property_type.png) left -2px no-repeat;
}
input {
    border: 0;
    margin: 0;
    background: none;
}
div#top_bar {
    background-color: #EBF2F8;
    text-align: center;
}
div#top_bar div.inner {
    margin: auto;
    width: 800px;
    padding-left: 80px;
}
div#top_bar div.general_nav {
    display: inline-block;
    width: 69%;
}
div#top_bar div.member_nav {
    display: inline-block;
    width: 30%;
    text-align: right;
}
div#top_bar div.general_nav ul, div#top_bar div.member_nav ul {
    padding: 10px 0;
    margin: 0;
}
div#top_bar div.general_nav ul li, div#top_bar div.member_nav ul li {
    list-style: none;
    display: inline-block;
}
div#top_bar div.general_nav ul li {
    margin-right: 12px;
}
div#top_bar div.member_nav ul li {
    margin-left: 12px;
}
div#top_bar a {
    font-weight: bold;
    text-decoration: none;
    color: #7C8083;
}
div#top_bar a:hover {
    color: #5ED3FF;
}

/* header section */
div#logo {
    display: inline-block;
    background: url(../images/logo.png) left center no-repeat;
    width: 323px;
    height: 200px;
    position: relative;
    top: -70px;
    left: -100px;
}
div#header div.text {
    display: inline-block;
    padding: 0 20px;
    width: 590px;
}
div#header div.text h1 {
    font-size: 28px;
    text-transform: uppercase;
    color: #1B96C0;
}
div#header div.text h2 {
    font-size: 16px;
    color: #FEFDFF;
}
div#header div.text h3 {
    font-size: 14px;
    color: #F37D11;
}

/* search section */

div#search label span.text {
    padding-left: 17px;
    width: 143px;
    vertical-align: bottom;
}
div#search {
    clear: both;
    padding: 10px;
    background-color: #FEFDFF;
    -moz-border-radius: 5px;
}
div#search ul {
    padding: 0;
    margin: 0;
}
div#search div.tabs ul li {
    list-style: none;
    display: inline-block;
    margin: 0 5px 0 0;
}
div#search div.tabs ul li a {
    display: block;
    padding-left: 5px;
    line-height: 33px;
    background: url(../images/tab_left.jpg) left no-repeat #ECF1F4;
    text-decoration: none;
}
div#search div.tabs ul li a span {
    display: block;
    padding: 0 20px 0 15px;
    background: url(../images/tab_right.jpg) right no-repeat;
    font-size: 14px;
    font-weight: bold;
    color: #737574;
}
div#search div.tabs ul li a:hover span {
    color: #32B0D9;
}
div#search div.tabs ul li.highlight a {
    background: url(../images/tab_left_highlight.jpg) left no-repeat #E4E9EC;
}
div#search div.tabs ul li.highlight a span {
    background: url(../images/tab_right_highlight.jpg) right no-repeat;
    color: #32B0D9;
}
div#search div.search_panel {
    background: #E4E9EC;
    padding: 15px 30px;
    -moz-border-radius: 0 5px 5px 5px;
}
div#search div.search_panel div.inner {
    padding: 0 5px 12px 15px;
    background: url(../images/search_background.jpg) left top no-repeat;
}
div#search div.search_panel div.inner div.main {
    padding: 6px 0 14px;
}

div#search div.search_panel div.inner div.option label {
    width: 250px;
}

div#search div.search_panel a.more {
    display: inline-block;
    background: url(../images/arrow_right.png) left no-repeat;
    padding-left: 12px;
    font-weight: bold;
    text-decoration: none;
    color: #75C6DB;
}
div#search div.search_panel input.checkbox {
    vertical-align: bottom;
}
div#search div.search_panel div.main input.keywords {
    font-size: 18px;
    color: #737574;
    width: 565px;
    margin-right: 20px;
}
div#search div.search_panel div.main input.search {
    font-size: 18px;
    font-weight: bold;
    color: #FFFCF9;
    height: 40px;
    width: 108px;
    text-transform: uppercase;
    cursor: pointer;
}
div#search div.search_panel div.more_options {
    display: none;
    width: 568px;
    background: #FFFFFF;
    -moz-border-radius: 5px;
    padding: 5px 13px;
    margin-left: -13px;
    margin-bottom: 3px;
}
div.search_result {
    -moz-border-radius: 5px;
    margin-top: 10px;
}

/* page_body section */

div#page_body {
    width: 960px;
    margin: auto;
}

#page_body #content_body{
    background: #ffffff;
    padding: 15px;
    min-height: 550px;
}

#page_body .entries_info {
    background: #dcdcdc;
    padding: 10px 15px 10px 15px;
    border-bottom: 1px #aaaaaa solid;
}

#page_body .paginate {
    padding: 8px 10px 8px 10px;
    border-top: none;
    border-bottom: none;
    background: #dcdcdc;
}

#page_body #content_body .full_container input {
    font-size:14px;
    font-family:Arial, Helvetica, sans-serif;
    line-height:16px;
    width: 96%;
    height: 18px;
    border:1px groove;
    background: #FFFFFF;
}

.container .field_20
{
    float: left;
    margin-right: 10px;
    width: 20%;
}


ul.list{
    margin: 0;
    padding: 0;
    list-style: none;
}

/* post */

.post .top{
    background: url(../images/post_top_bg.png) repeat-x;
    height: 35px;
    border: 1px solid #a6d0e6;
}

.post .top .address{
    display: inline-block;
    width: 78%;
    padding: 10px;
    font-size: 11px;
    font-weight: bold;
}

.post .top .collapse{
    display: inline-block;
}

.post .top .collapse a{
    text-decoration: none;
    color: #02adf2;
    font-size: 9px;
    background: url(../images/collapse_arrow.png) top left no-repeat;
    padding-left: 15px;
}

.post .top .collapse a:hover{
    text-decoration: none;
}

.post .middle
{
    padding: 10px;
    border-top: none;
    border-bottom: none;
    min-height: 120px;
}
/* end post */
.small_img
{
    width: 120px;
}

.image_slider
{    
    border: 1px #aaaaaa solid;
    background: #eeeeee;
    padding: 5px;
}

.image_slider .slider
{
    text-align: center;
}

.image_slider .image_nav
{
    padding: 5px;
    text-align: center;
}

li.item .post .middle .abstract
{
    margin-left: 120px;
}

/* postable */
.postable .price
{
    font-size: 20px;
    color: #02adf2;
    display: inline-block;
    width: 60%;
}

.postable .bedroom_num{
    background: url(../images/bedroom.png) top left no-repeat;
    display: inline-block;
    padding-left: 25px;
    color: #777777;
    font-size: 12px;
    font-weight: bold;
}

.postable .carpark_num{
    background: url(../images/carpark.png) top left no-repeat;
    display: inline-block;
    padding-left: 25px;
    color: #777777;
    font-size: 12px;
    font-weight: bold;
}

.postable .bathroom_num{
    background: url(../images/bathroom.png) top left no-repeat;
    display: inline-block;
    padding-left: 25px;
    color: #777777;
    font-size: 12px;
    font-weight: bold;
}

.postable .description{
    padding: 15px 0px 15px 0px;
}
/* end postable */
li.item .post .middle .user_area{
    margin-left: 150px;
}

li.item .post .middle .user_area .user{
    width: 180px;
    height: 50px;
    display: inline-block;
    border: 1px #eeeeee dashed;
}

li.item .post .middle .user_area .action{
    display: inline-block;
    vertical-align: top;
    padding: 5px;
}

#content_body #content {
    min-height: 500px;    
    border: 1px #aaaaaa solid;    
}

.container {
    -moz-border-radius:5px 5px 5px 5px;
    border: 1px #aaaaaa solid;
    background:none repeat scroll 0 0 #FFFFFF;
}

.container .left {
    vertical-align: top;
    display: inline-block;   
    -moz-border-radius: 5px;
    float: left;
}

.container .half {
    width: 49%;
    -moz-border-radius:5px 5px 5px 5px;
}

.container .right {
    vertical-align: top;
    display: inline-block;   
    -moz-border-radius: 5px;
    float: right;
}

#content_body div#googlemap
{
    min-height: 500px;
    background: #ECF1F4;
    border: 1px #aaaaaa solid;
}


label {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    font-weight: bold;
    line-height: 9px;
    color: #666;
    text-decoration: none;
    display: block;
    padding-left: 3px;
}

#page_body  #content .full_container .line label {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    font-weight: bold;

    text-decoration: none;
    display: block;
    padding-left: 3px;
}

.line {

}


/* footer section */
div#footer {
    clear: both;
    text-align: center;
    margin-top: 20px;
}
div#footer ul {
    padding: 10px 0;
    margin: 0;
}
div#footer ul li {
    list-style: none;
    display: inline-block;
    margin: 0 8px;
}
div#footer a {
    text-decoration: none;
    color: #FEFDFF;
}
div#footer a:hover {
    color: #7C8083;
}

