div#search label span.text {
    padding-left: 17px;
    width: 143px;
    vertical-align: bottom;
}
div#search {
    clear: both;
    padding: 10px;
    background-color: #FEFDFF;
    -moz-border-radius: 5px;
}
div#search ul {
    padding: 0;
    margin: 0;
}

div#search input{
	display: inline-block;
}

div#search input[type=submit]{
	
	float: right;
}

div#search div.tabs ul li {
    list-style: none;
    display: inline-block;
    margin: 0 5px 0 0;
}
div#search div.tabs ul li a {
    display: block;
    padding-left: 5px;
    line-height: 33px;
    background: url(../images/tab_left.jpg) left no-repeat #ECF1F4;
    text-decoration: none;
}
div#search div.tabs ul li a span {
    display: block;
    padding: 0 20px 0 15px;
    background: url(../images/tab_right.jpg) right no-repeat;
    font-size: 14px;
    font-weight: bold;
    color: #737574;
}
div#search div.tabs ul li a:hover span {
    color: #32B0D9;
}
div#search div.tabs ul li.highlight a {
    background: url(../images/tab_left_highlight.jpg) left no-repeat #E4E9EC;
}
div#search div.tabs ul li.highlight a span {
    background: url(../images/tab_right_highlight.jpg) right no-repeat;
    color: #32B0D9;
}
div#search div.search_panel {
    background: #E4E9EC;
    padding: 27px 30px;
    -moz-border-radius: 0 5px 5px 5px;
}
div#search div.search_panel div.inner {
    padding: 0 135px 14px 9px;
    background: url(../images/search_background.jpg) left top no-repeat;
}
div#search div.search_panel div.inner div.main {
    padding: 12px 3px 30px;
	margin-bottom: 5px;
}

div#search div.search_panel div.inner div.option label {
    width: 250px;
}

div#search div.search_panel a.more {
    display: inline-block;
    background: url(../images/arrow_right.png) left no-repeat;
    padding-left: 12px;
    font-weight: bold;
    text-decoration: none;
    color: #75C6DB;
}
div#search div.search_panel input.checkbox {
    vertical-align: bottom;
	border: none;
}
div#search div.search_panel div.main input.keywords {
    font-size: 18px;
    color: #737574;
    width: 81%;
	height: 30px;
    margin-right: 20px;
	border: none;
}
div#search div.search_panel div.main input.search {
    font-size: 18px;
    font-weight: bold;
    color: #FFFCF9;
    height: 26px;
    width: 108px;
    text-transform: uppercase;
    cursor: pointer;
	border: none;
}
div#search div.search_panel div.more_options {
    display: none;
    width: 568px;
    background: #FFFFFF;
    -moz-border-radius: 5px;
    padding: 5px 13px;
    margin-left: -13px;
    margin-bottom: 3px;
}

div#search input {
    border: 1px solid gray;
    margin: 0;
    background: none;
}

div.search_result {
    -moz-border-radius: 5px;
    margin-top: 10px;
}

.watermark{
    color:#999999 !important
}