#top_bar {
    font-family: Verdana, Helvetica, Arial;
    font-size: 11px;
    vertical-align: text-bottom;
    height: 32px;
}

#top_bar {
    background-color: #EBF2F8;
    vertical-align: middle;
}

#top_bar div.inner {
    margin: auto;
    width: 960px;
}
#top_bar div.general_nav {
    vertical-align: center;
    display: inline-block;
    width: 69%;
    line-height: 30px;
}
#top_bar div.member_nav {
    display: inline-block;
    width: 30%;
    margin: auto;
    line-height: 30px;
}

#top_bar div.general_nav ul, #top_bar div.member_nav ul {
    margin: auto;
}
#top_bar div.general_nav ul li, #top_bar div.member_nav ul li {
    list-style: none;
    display: inline-block;
}
#top_bar div.general_nav ul li {
    margin-right: 12px;
}
#top_bar div.member_nav ul li {
    margin-left: 12px;
}
#top_bar a {
    font-weight: bold;
    text-decoration: none;
    color: #7C8083;
}
#top_bar a:hover {
    color: #5ED3FF;
}