<label><span class="label">Terms of service</span>
  <span class="term">
    Terms of Service

    TSed a neque magna. Maecenas risus lacus, molestie vitae interdum vel, sodales quis lacus. Suspendisse sed turpis ac diam molestie dignissim. Nunc convallis tellus ac nulla adipiscing ut dictum
    nibh pretium. Etiam a mauris diam, eu sagittis tellus.

    Duis egestas, orci nec commodo auctor, leo ante luctus mauris, a adipiscing libero turpis egestas sem. Vivamus fringilla ornare
  </span>
</label>
<label>
  <span class="desc">By clicking on "Create my account" below, you are agreeing to the <a href="#">Terms of Service</a> above and
    the <a href="#">Privacy Policy</a>.</span>
</label>