<% title "New User" %>

<div class="page_title">
  <h1 class="">Sign up</h1>
</div>
<p>TSed a neque magna. Maecenas risus lacus, molestie vitae interdum vel, sodales quis lacus. Suspendisse sed turpis ac diam molestie dignissim.
  Nunc convallis tellus ac nulla adipiscing ut dictum nibh pretium. Etiam a mauris diam, eu sagittis tellus. </p>
<%= render :partial => 'form' %>


