<div class="price">
  <%= number_to_currency(property.price) %>
</div>
<div class="bedroom_num">
  <%=h property.number_of_bedrooms %>
</div>
<div class="carpark_num">
  <%=h property.number_of_carparks %>
</div>
<div class="bathroom_num">
  <%=h property.number_of_bathrooms %>
</div>