<% title "Edit Property Search" %>

<% form_for @property_search do |f| %>
  <%= render :partial => 'form', :locals => { :f => f } %>
  <p><%= f.submit "Submit" %></p>
<% end %>

<p>
  <%= link_to "Show", @property_search %> |
  <%= link_to "View All", property_searches_path %>
</p>
