<% title "Welcomes" %>
<div id="search">
  <div class="tabs">
    <ul>
      <li class="highlight"><a href="#"><span>Rent</span></a></li>
      <li><a href="#"><span>Share</span></a></li>
      <li><a href="#"><span>Furniture</span></a></li>
      <li><a href="#"><span>Carspace</span></a></li>
    </ul>
  </div>
  <div class="search_panel">
    <% form_for @search do |f| %>
      <%= render :partial => "property_searches/form", :locals => { :f => f }%>
    <% end %>
  </div>
</div>
