<% form_for :contact, @post.contact, :url => post_contact_path(@post), :html=>{:class =>"ajaxForm",:id=>"contact_form"} do |f| %>
<label>
  <span class="label">Email</span>
  <span class="input"><%= f.text_field :email,:class=>"text" %></span>
  <span class="hint"><span class="hint_icon" ></span>must be numbers</span>
</label>
<label>
  <span class="label">Phone</span>
  <span class="input"><%= f.text_field :phone, :class=>"text" %></span>
  <span class="hint"><span class="hint_icon" ></span>must be 6 or more characters</span>
</label>
<label><span class="label"></span><%= f.submit "Save", :class=>"save" %></label>
<% end %>