<div class="inner">
  <%= f.error_messages %>
  <div class="main">
    <%= f.text_field :keyword, :class=>"keywords" %>
    <%= f.submit "Search", :class=>"search" %>
  </div>
  <label><input type="checkbox" class="checkbox" /> Include surrounding suburbs</label>
  <div class="more_options">
    <% f.fields_for :property_search do |property_form| %>
      <%= render :partial => "property_searches/form", :locals => { :f => property_form } %>
    <% end %>
  </div>
  <a href="#" class="more" hide="Hide search criterias" show="Show more search criterias">Show more search criterias</a>
</div>