<h4 class="title"><%=h post.title %></h4>
<% postable = post.postable %>
<% unless postable.nil? %>
  <% dir_name = postable.class.table_name %>
  <% local = postable.class.class_name.downcase%>
  <%= render :partial => "/" + dir_name + "/abstract", :locals => { local.to_sym => postable } %>
<% end %>