<h4>Buid your ad below:</h4>
<%= form_for @post do |f| %>
  <div class="container">
    <div class="form_section">
      <%= render "/posts/fields", :f => f, :post => @post %>
    </div>
  </div>
  <div class="paddingY5">
    <span class="button_sub">
      <%= link_to "Continue to next step", @post,:method => :post,:style=>"font-weight:bold;font-size:12px;color:white;"%>
    </span>
    <br/><br/>
  </div>
<% end %>