<div id="page_title" style="font-size:23px;">BUILD YOUR RESIDENTIAL FOR RENT AD</div>
<div class="page_content" style="color:#555151;margin-bottom: 20px;">FOUND YOUR HOME is a respectful community of young people who look for their next home. We provide the best tools and resource to help you to find your next stay.</div>
<div id="post_nav">
  <div class="page_content active" style="margin-bottom: 20px;">1. Build Your AD</div>
  <div class="page_content" style="color:#555151;margin-left: 10%;">2. Proview and Confirm  </div>
  <div class="page_content " style="color:#555151;margin-left: 10%;">3. Pay for AD</div>
</div>
<div class="row_break"></div>
<div class="page_content " style="color:#000000;">Build Your Ad Below</div>
<div class="row_break"></div>

<div id="build_new_post">
  <div class="bar_container">
    <div class="toggle_div" toggle_id_name="address_details" style="cursor: pointer;">
      <div  class="options" style="float:right"}
      <%= image_tag('collapse_arrow.png')%>
<div id="build_new_post">
  <div class="page_title">
    <h1 class="build">Build your Residential for Rent Ad</h1>
  </div>
    <h1>Property Address</h1>
  <p>
    TSed a neque magna. Maecenas risus lacus, molestie vitae interdum vel, sodales quis lacus. Suspendisse sed turpis ac diam molestie dignissim.
    Nunc convallis tellus ac nulla adipiscing ut dictum nibh pretium. Etiam a mauris diam, eu sagittis tellus.
  </p>
  <ul class="steps">
    <li class="current"><span class="num">1</span><span class="text">Build your ad</span></li>
    <li><span class="num">2</span><span class="text">Preview & confrim</span></li>
    <li><span class="num">3</span><span class="text">Pay for your ad</span></li>
  </ul>
  <h4>Buid your ad below:</h4>
  <div class="container">
    <%= render :partial=> "/posts/form" %>
  </div>
  <div>
    <span class="button_sub">
      <%= link_to "Continue to next step", preview_post_path(@post), :style=>"font-weight:bold;font-size:12px;color:white;"%>
    </span>
    <br/><br/>
  </div>
</div>

<% content_for :script do %>
  <script type="text/javascript">
    $(document).ready(function() {
      $(".modified").live('click', function(){
        $(this).closest('.form_section').find('.section_body').toggle('blind');
      });
    });
  </script>
<% end %>

