<label>
  <span class="title">Browse images to start upload...</span>
  <span class="hint"><span class="hint_icon"></span>Maximum 5 photos</span>
</label>
<label>
  <span class="label"></span>
  <%= f.file_field :photo, :class=>"text" %>
</label>
<label><span class="label"></span><%= f.submit "Save", :class=>"save" %></label>
