<div class="image_slider">
  <div class="slider">
    <% if images.length > 0 %>
      <% images.each do|image| %>
        <%= image_tag image.photo.url(size)%>
      <% end %>
    <% else %>
      <% 4.times do %>
        <%= image_tag "noimage_thumb.gif" %>
      <% end %>
    <% end %>
  </div>
  <div class="image_nav">
    <div>
      <a class="prev2">Prev</a>
      <a class="next2">Next</a>
    </div>
  </div>
</div>