<div id="footer">
  <ul>
    <li><a href="#">Agent Admin</a></li>
    <li><a href="#">Sign up Your Agency</a></li>
    <li><a href="#">About Us</a></li>
    <li><a href="#">Search Real Estate Agents</a></li>
    <li><a href="#">Contact Us</a></li>
    <li><a href="#">Advertising</a></li>
    <li><a href="#">Privacy Policy</a></li>
    <li><a href="#">Terms &amp; Conditions</a></li>
    <li><a href="#">Disclaimer</a></li>
  </ul>
</div>